<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>站点管理</title>
    <link th:replace="~{index :: indexStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link th:replace="~{user/profile :: profileStyle}"/>
</head>
<body>
<!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
<div class="profile-header">
    <div th:insert="~{index :: nav}"></div>
    <h2>站点管理</h2>
</div>

<main role="main" class="container">
    <div class="card my-card p-3 mb-4">
        <table class="table">
            <tr>
                <th>用户名</th>
                <th>ID号</th>
                <th>经验</th>
                <th>权限</th>
                <th>操作</th>
            </tr>

            <tr th:each="user_, stat : ${users}">
                <td>
                    <a th:text="${user_.name}" th:class="${user_.getGradeString()}"
                       th:href="@{/profile/{id}(id=${user_.id})}"></a>
                </td>
                <td th:text="${user_.id}"></td>
                <td th:text="${user_.experience}"></td>
                <td th:if="${user_.isAdmin()}">管理员</td>
                <td th:unless="${user_.isAdmin()}">用户</td>
                <td>
                    <div th:unless="${user_.equals(user)}">
                        <a th:if="${!user_.isAdmin()}" th:href="@{/admin/upgrade/{id}(id=${user_.id})}"
                           class="btn btn-primary">设为管理</a>
                        <a th:if="${user_.isAdmin()}" th:href="@{/admin/downgrade/{id}(id=${user_.id})}"
                           class="btn btn-primary">取消管理</a>
                        <a th:href="@{/admin/delete/{id}(id=${user_.id})}" class="btn btn-danger">删除</a>
                    </div>
                </td>
        </table>
    </div>
</main>

<script>
</script>
</body>
</html>