<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>提交记录</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <a th:href="@{/problems}">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
        <span>></span>
        <span>提交记录</span>
    </p>
    <div th:replace="~{problem/list :: nav}"></div>
    <h2>提交记录</h2>
    <a class="btn btn-secondary mb-3" th:href="@{/problem/{id}(id=${problem.id})}">返回题目</a>
</div>
<main role="main" class="container">
    <h3 th:text="${problem.title}"
        style="margin-bottom: 2rem; padding: 1rem; border-bottom: gray 1px solid"></h3>
    <p th:if="${submissions.isEmpty()}">暂无提交记录</p>
    <div class="card my-card p-3" th:unless="${submissions.isEmpty()}">
        <ul class="pagination justify-content-center" th:unless="${page eq null}">
            <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                <a class="page-link" th:href="@{/problem/{id}/history(page=1, id=${problem.id})}">首页</a>
            </li>
            <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/problem/{id}/history(page=${page - 1}, id=${problem.id})}">上一页</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${i == page} ? 'active'">
                <a class="page-link" th:href="@{/problem/{id}/history(page=${i}, id=${problem.id})}"
                   th:text="${i}"></a>
            <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/problem/{id}/history(page=${page + 1}, id=${problem.id})}">下一页</a>
            </li>
            <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/problem/{id}/history(page=${totalPages}, id=${problem.id})}">尾页</a>
            </li>
        </ul>

        <table class="table">
            <tr>
                <th></th>
                <th>状态</th>
                <th>提交者</th>
                <th>语言</th>
                <th>分数</th>
                <th>详情</th>
            </tr>

            <tr th:each="submission, stat : ${submissions}">
                <td>
                    <span>#[[${submission.id}]]</span>
                </td>
                <td th:if="${submission.result.displayName  eq 'passed'}">
                    <span class="badge badge-success my-large-badge">通过</span>
                </td>
                <td th:if="${submission.result.displayName  eq 'failed'}">
                    <span class="badge badge-danger my-large-badge">未通过</span>
                </td>
                <td th:if="${submission.result.displayName  eq 'waiting'}">
                    <span class="badge badge-secondary my-large-badge">测试中</span>
                </td>
                <td>
                    <a th:href="@{/profile/{id}(id=${submission.user.id})}">
                        <img class="avatar mr-2" th:src="${submission.user.avatarPath}" width="30" height="30"
                             alt="avatar">
                    </a>
                    <a th:href="@{/profile/{id}(id=${submission.user.id})}" th:text="${submission.user.name}"
                       th:class="${submission.user.gradeString}"></a>
                </td>
                <td>
                    <span th:text="${submission.languageDisplayName}"></span>
                </td>
                <td>
                    <span th:text="${submission.score}"></span>
                </td>
                <td>
                    <a th:href="@{/submission/{id}(id=${submission.id})}">查看</a>
                </td>
        </table>
    </div>
</main>

</body>
</html>