<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哦！出错了！</title>
    <th:block th:replace="~{problem/problem :: problemStyle}"></th:block>
    <link href="/static/css/submission.css" rel="stylesheet">
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>
<body>
<div class="header">
    <p class="link">
        <a href="/">首页</a>
        <span>></span>
        <a href="/problems">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
        <span>></span>
        <span>提交结果</span>
    </p>
    <div th:replace="~{problem/list :: nav}"></div>
    <h2>提交结果</h2>
    <a class="btn btn-secondary mb-3" th:href="@{/problem/{id}(id=${problem.id})}">返回题目</a>
</div>
<main class="container" role="main">
    <h4>提示信息</h4>
    <p>您无权查看此提交！再努力努力尝试通过这道题吧！</p>
</main>
</body>
</html>