<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/submission.css">
    <th:block th:replace="~{problem/problem :: problemStyle}"></th:block>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <th:block th:replace="~{base :: markdown}"></th:block>
    <title>测试结果</title>
</head>
<body>
<div class="header">
    <p class="link">
        <a href="/">首页</a>
        <span>></span>
        <a href="/problems">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
        <span>></span>
        <span>提交结果</span>
    </p>
    <div th:replace="~{problem/list :: nav}"></div>
    <h2>提交结果</h2>
    <a class="btn btn-secondary mb-3" th:href="@{/problem/{id}(id=${problem.id})}">返回题目</a>
</div>
<main role="main" class="container">
    <div th:if="${isAuthor}" th:switch="${submission.result.displayName }">
        <div th:case="'passed'" class="result-box passed-box">
            <span class="iconfont icon-duigou1" style="font-size: 20px"></span>
            <span> 您通过了此题！</span>
        </div>
        <div th:case="'failed'" class="result-box failed-box">
            <span class="iconfont icon-ziyuan" style="font-size: 20px"></span>
            <span> 您未通过此题！</span>
        </div>
        <div th:case="'waiting'" class="result-box pending-box">
            <span class="iconfont icon-shenglvehao" style="font-size: 20px"></span>
            <span> 正在测试中...请稍后刷新重试。</span>
        </div>
    </div>
    <h4 class="underlined-title">代码</h4>
    <pre>
    <code th:text="${submission.code}">
    </code>
    </pre>
    <h4 class="underlined-title">测试结果</h4>
    <div class="box-container">
        <div th:each="checkpoint, stat : ${checkpoints}" th:switch="${checkpoint.statusString}">
            <div th:case="'P'" class="checkpoint-box p-box">
                <p class="text-status">...</p>
            </div>
            <div th:case="'AC'" class="checkpoint-box ac-box">
                <p class="text-status">AC</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">#[[${stat.index + 1}]]</div>
            </div>
            <div th:case="'WA'" class="checkpoint-box wa-box">
                <p class="text-status">WA</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">#[[${stat.index + 1}]]</div>
            </div>
            <div th:case="'CE'" class="checkpoint-box ce-box">
                <p class="text-status">CE</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">#[[${stat.index + 1}]]</div>
            </div>
            <div th:case="'RE'" class="checkpoint-box re-box">
                <p class="text-status">RE</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">#[[${stat.index + 1}]]</div>
            </div>
            <div th:case="'TLE'" class="checkpoint-box tle-box">
                <p class="text-status">TLE</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">#[[${stat.index + 1}]]</div>
            </div>
            <div th:case="'MLE'" class="checkpoint-box mle-box">
                <p class="text-status">MLE</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">#[[${stat.index + 1}]]</div>
            </div>
            <div th:case="'UKE'" class="checkpoint-box uke-box">
                <p class="text-status">UKE</p>
                <div class="checkpoint-num">#[[${stat.index + 1}]]</div>
            </div>
        </div>
    </div>

    <input type="hidden" id="submissionId" th:value="${submission.id}">
    <div th:if="${isAuthor && submission.result.displayName == 'failed'}">
        <h4 class="underlined-title pt-5">AI帮助</h4>
        <div class="mt-3" id="aiGuide" style="display: none;">
            <p>本AI来源于科大讯飞（的白嫖的 2M Tokens）提供的官方 Java 接口。</p>
            <button type="button" id="aiHelp" class="btn btn-danger">我需要AI帮助</button>
        </div>
        <div class="markdown" id="aiAdvice" style="display: none;"></div>
    </div>
</main>
<script>
    const msgBoxes = document.querySelectorAll('.msg-box');
    msgBoxes.forEach(box => {
        if (box.innerText.length > 50) {
            box.innerText = box.innerText.substring(0, 50) + '...';
        }
    });
</script>
<script>
    const guide = document.getElementById('aiGuide');
    const advice = document.getElementById('aiAdvice');
    const getHelp = document.getElementById('aiHelp');
    const id = document.getElementById('submissionId').value;

    // get AI advice on load
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/submission/ai?submission=' + id, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
        })
            .then(response => response.text())
            .then(text => {
                if (text === '') {
                    guide.style.display = 'block';
                } else {
                    advice.innerHTML = marked.parse(text);
                    hljs.highlightAll();
                    advice.style.display = 'block';
                }
            });
    });
    getHelp.addEventListener('click', function () {
        getHelp.disabled = true;
        getHelp.innerText = '正在请求中';
        fetch('/api/submission/ai', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').content
            },
            body: 'submission=' + id
        })
            .then(response => response.text())
            .then(text => {
                guide.style.display = 'none';
                advice.innerHTML = marked.parse(text);
                hljs.highlightAll();
                advice.style.display = 'block';
            });
    });
</script>
</body>
</html>