<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/submission.css">
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <th:block th:replace="~{base :: highlight}"></th:block>
    <title>测试结果</title>
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <a th:href="@{/problems}">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
        <span>></span>
        <span>提交结果</span>
    </p>
    <h2>提交结果</h2>
    <a class="btn btn-secondary mb-3" th:href="@{/problem/{id}(id=${problem.id})}">返回题目</a>
</div>
<main role="main" class="container" th:switch="${submission.statusString}">
    <div th:case="'passed'" class="result-box passed-box">
        <span class="iconfont icon-duigou1" style="font-size: 20px"></span>
        <span> 您通过了此题！</span>
    </div>
    <div th:case="'failed'" class="result-box failed-box">
        <span class="iconfont icon-ziyuan" style="font-size: 20px"></span>
        <span> 您未通过此题！</span>
    </div>
    <div th:case="'waiting'" class="result-box pending-box">
        <span class="iconfont icon-shenglvehao" style="font-size: 20px"></span>
        <span> 正在测试中...请稍后刷新重试。</span>
    </div>

    <h4 class="underlined-title">代码</h4>
    <pre>
    <code th:text="${submission.code}">
    </code>
    </pre>
    <h4 class="underlined-title">测试结果</h4>
    <div class="box-container">
        <div th:each="checkpoint : ${checkpoints}" th:switch="${checkpoint.statusString}">
            <div th:case="'P'" class="checkpoint-box p-box">
                <p class="text-status">...</p>
            </div>
            <div th:case="'AC'" class="checkpoint-box ac-box">
                <p class="text-status">AC</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">
                    <span>#</span>
                    <span th:text="${checkpoint.ioPair.id}"></span>
                </div>
            </div>
            <div th:case="'WA'" class="checkpoint-box wa-box">
                <p class="text-status">WA</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">
                    <span>#</span>
                    <span th:text="${checkpoint.ioPair.id}"></span>
                </div>
            </div>
            <div th:case="'CE'" class="checkpoint-box ce-box">
                <p class="text-status">CE</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">
                    <span>#</span>
                    <span th:text="${checkpoint.ioPair.id}"></span>
                </div>
            </div>
            <div th:case="'RE'" class="checkpoint-box re-box">
                <p class="text-status">RE</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">
                    <span>#</span>
                    <span th:text="${checkpoint.ioPair.id}"></span>
                </div>
            </div>
            <div th:case="'TLE'" class="checkpoint-box tle-box">
                <p class="text-status">TLE</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">
                    <span>#</span>
                    <span th:text="${checkpoint.ioPair.id}"></span>
                </div>
            </div>
            <div th:case="'MLE'" class="checkpoint-box mle-box">
                <p class="text-status">MLE</p>
                <p class="text-cost" th:text="${checkpoint.formatUsageString()}"></p>
                <div class="msg-box" th:text="${checkpoint.info}"></div>
                <div class="checkpoint-num">#[[${checkpoint.ioPairId}]]</div>
            </div>
        </div>
    </div>
</main>
</body>
</html>