<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>讨论区</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link th:replace="~{problem/problem :: problemStyle}">
    <th:block th:replace="~{base :: markdown}"></th:block>
</head>
<body>
<div class="header">
    <p class="link">
        <a href="/">首页</a>
        <span>></span>
        <a href="/problems">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
        <span>></span>
        <span>讨论区</span>
    </p>
    <h2>讨论区</h2>
    <a class="btn btn-secondary mb-3" th:href="@{/problem/{id}(id=${problem.id})}">返回题目</a>
    <a class="btn btn-primary mb-3" th:href="@{/problem/{id}/post/new(id=${problem.id})}" th:unless="${user eq null}">发布帖子</a>
    <div th:replace="~{problem/list :: nav}"></div>
</div>
<main role="main" class="container">
    <h3 class="underlined-title mb-3">讨论区</h3>
    <div th:each="post: ${problem.posts}" class="card mb-3">

        <div class="card-header">
            <a th:unless="${post.author eq null}" th:href="@{/profile/{id}(id=${post.author.id})}" class="no-dec">
                <img class="avatar" th:src="${post.author.avatarPath}" width="30" height="30" alt="avatar">
            </a>
            <a th:unless="${post.author eq null}" th:class="${post.author.gradeString}" th:text="${post.author.name}"
               th:href="@{/profile/{id}(id=${post.author.id})}"></a>
            <span th:if="${post.author eq null}" class="DELETED">账户已注销</span>
            <a th:text="${post.title}" class="ml-3" th:href="@{/post/{id}(id=${post.id})}"></a>
            <span th:text="${post.createTime}" style="float: right;"></span>
        </div>
        <div class="card-body markdown user-comment" th:utext="${post.content}"></div>
    </div>
</main>
<script th:replace="~{base :: runMarkdown}"></script>
<script th:replace="~{base :: personLink}"></script>
</body>
</html>