<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>讨论帖子</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <th:block th:replace="~{problem/problem :: problemStyle}"></th:block>
    <th:block th:replace="~{base :: markdown}"></th:block>
</head>
<body>
<div class="header">
    <p class="link">
        <a href="/">首页</a>
        <span>></span>
        <a href="/problems">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${post.problem.id})}" th:text="${post.problem.title}"></a>
        <span>></span>
        <span>讨论帖子</span>
    </p>
    <h2>讨论帖子</h2>
    <a class="btn btn-primary mb-3" th:href="@{/post/list(problem=${post.problem.id})}">返回讨论区</a>
    <a class="btn btn-secondary mb-3" th:href="@{/problem/{id}(id=${post.problem.id})}">返回题目</a>
    <div th:replace="~{problem/list :: nav}"></div>
</div>
<main class="container" role="main">
    <!-- post -->
    <a class="no-dec" th:href="@{/profile/{id}(id=${post.author.id})}" th:unless="${post.author eq null}">
        <img alt="avatar" class="avatar" height="30" th:src="${post.author.avatarPath}" width="30">
    </a>
    <a th:class="${post.author.gradeString}" th:href="@{/profile/{id}(id=${post.author.id})}"
       th:text="${post.author.name}"
       th:unless="${post.author eq null}"></a>
    <span class="DELETED" th:if="${post.author eq null}">账户已注销</span>
    <span>发布于</span>
    <span th:text="${post.timeStampString}"></span>
    <div class="card mb-3 mt-3">
        <div class="card-header">
            <span class="m-0"><b style="font-size: larger" th:text="${post.title}"></b></span>
            <form method="post" style="float: right" th:action="@{/post/delete}" th:if="${canDeletePost}">
                <input name="postId" th:value="${post.id}" type="hidden">
                <button class="link-danger" type="submit">删帖</button>
            </form>
        </div>
        <div class="card-body markdown user-comment" th:utext="${post.content}"></div>
    </div>
    <!-- comment form -->
    <form class="mt-4 pt-5" method="post" style="border-top: 2px dashed lightgray" th:action="@{/post/comment}">
        <input name="postId" th:value="${post.id}" type="hidden">
        <div class="form-group">
            <div class="form-item" th:if="${param.error}">
                <div class="alert alert-danger mb-3">
                    评论不能为空
                </div>
            </div>
            <div class="mb-3">
                <label class="mb-0" for="comment" style="font-size: 20px">评论</label>
                <button class="btn btn-primary ml-auto mb-0" style="float: right" type="submit">发布</button>
            </div>
            <textarea class="form-control" id="comment" maxlength="1000" name="content" placeholder="说点什么吧"
                      rows="3"></textarea>
        </div>
    </form>
    <!-- comments -->
    <div class="card mb-3" th:each="comment, stat: ${post.comments}" th:unless="${post.comments.isEmpty()}">
        <div class="card-header">
            <a th:href="@{/profile/{id}(id=${comment.author.id})}" th:unless="${comment.author eq null}">
                <img alt="avatar" class="avatar" height="30" th:src="${comment.author.avatarPath}" width="30">
            </a>
            <a th:class="${comment.author.gradeString}" th:href="@{/profile/{id}(id=${comment.author.id})}"
               th:text="${comment.author.name}"
               th:unless="${comment.author eq null}"></a>
            <span th:text="${comment.timeStampString}"></span>
            <span class="DELETED" th:if="${comment.author eq null}">账户已注销</span>
            <form method="post" style="float: right" th:action="@{/post/comment/delete}"
                  th:if="${canDeleteComment[stat.index]}">
                <input name="commentId" th:value="${comment.id}" type="hidden">
                <button class="link-danger" type="submit">删除</button>
            </form>
        </div>
        <div class="card-body markdown user-comment" th:text="${comment.content}"></div>
    </div>
    <div class="m-3" style="text-align: center" th:if="${post.comments.isEmpty()}">
        <p>还没有评论...要抢一个沙发吗？</p>
    </div>
</main>
<th:block th:replace="~{base :: runMarkdown}"></th:block>
<script th:replace="~{base :: personLink}"></script>
</body>
</html>