<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>讨论帖子</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link th:replace="~{problem/problem :: problemStyle}">
    <th:block th:replace="~{base :: markdown}"></th:block>
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
<div class="header">
    <p class="link">
        <a href="/">首页</a>
        <span>></span>
        <a href="/problems">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${post.problem.id})}" th:text="${post.problem.title}"></a>
        <span>></span>
        <span>讨论帖子</span>
    </p>
    <h2>讨论帖子</h2>
    <a class="btn btn-primary mb-3" th:href="@{/problem/{id}/posts(id=${post.problem.id})}">返回讨论区</a>
    <a class="btn btn-secondary mb-3" th:href="@{/problem/{id}(id=${post.problem.id})}">返回题目</a>
    <div th:replace="~{problem/list :: nav}"></div>
</div>
<main role="main" class="container">
    <!-- post -->
    <a th:unless="${post.author eq null}" th:href="@{/profile/{id}(id=${post.author.id})}" class="no-dec">
        <img class="avatar" th:src="${post.author.avatarPath}" width="30" height="30" alt="avatar">
    </a>
    <a th:unless="${post.author eq null}" th:class="${post.author.gradeString}" th:text="${post.author.name}"
       th:href="@{/profile/{id}(id=${post.author.id})}"></a>
    <span th:if="${post.author eq null}" class="DELETED">账户已注销</span>
    <span>发布于</span>
    <span th:text="${post.createTime}"></span>
    <div class="card mb-3 mt-3">
        <div class="card-header">
            <span class="m-0"><b th:text="${post.title}" style="font-size: larger"></b></span>
            <form style="float: right" th:action="@{/post/delete}" method="post" th:if="${canDeletePost}">
                <input type="hidden" name="postId" th:value="${post.id}">
                <button type="submit" class="delete-link">删帖</button>
            </form>
        </div>
        <div class="card-body markdown user-comment" th:utext="${post.content}"></div>
    </div>
    <!-- comment form -->
    <form th:action="@{/post/comment}" method="post" class="mt-4 pt-5" style="border-top: 2px dashed lightgray">
        <input type="hidden" name="postId" th:value="${post.id}">
        <div class="form-group">
            <div class="mb-3">
                <label for="comment" class="mb-0" style="font-size: 20px">评论</label>
                <button type="submit" class="btn btn-primary ml-auto mb-0" style="float: right">发布</button>
            </div>
            <textarea class="form-control" id="comment" name="content" rows="3" maxlength="1000" placeholder="说点什么吧"></textarea>
        </div>
    </form>
    <!-- comments -->
    <div class="card mb-3" th:each="comment, stat: ${post.comments}" th:unless="${post.comments.isEmpty()}">
        <div class="card-header">
            <a th:unless="${comment.author eq null}" th:href="@{/profile/{id}(id=${comment.author.id})}">
                <img class="avatar" th:src="${comment.author.avatarPath}" width="30" height="30" alt="avatar">
            </a>
            <a th:unless="${comment.author eq null}" th:class="${comment.author.gradeString}" th:text="${comment.author.name}"
               th:href="@{/profile/{id}(id=${comment.author.id})}"></a>
            <span th:text="${comment.createTime}"></span>
            <span th:if="${comment.author eq null}" class="DELETED">账户已注销</span>
            <form style="float: right" th:action="@{/post/comment/delete}" method="post" th:if="${canDeleteComment[stat.index]}">
                <input type="hidden" name="commentId" th:value="${comment.id}">
                <button type="submit" class="delete-link">删除</button>
            </form>
        </div>
        <div class="card-body markdown user-comment" th:text="${comment.content}"></div>
    </div>
    <div th:if="${post.comments.isEmpty()}" style="text-align: center" class="m-3">
        <p>还没有评论...要抢一个沙发吗？</p>
    </div>
</main>
<th:block th:replace="~{base :: runMarkdown}"></th:block>
<script th:replace="~{base :: personLink}"></script>
</body>
</html>