<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑档案</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link th:replace="~{user/profile :: profileStyle}"/>
</head>
<body>
<!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
<div class="profile-header">
    <div th:insert="~{index :: nav}"></div>
    <h2>编辑档案</h2>
</div>

<main class="container" role="main">
    <div th:replace="~{user/editProfile :: profileEditBar}"></div>
    <h3 class="underlined-title">选择头像</h3>
    <p>支持JPEG/PNG格式，大小不得超过4MB</p>
    <p>上传后如果没有成功更新，可以尝试使用Ctrl+F5强制刷新浏览器缓存</p>
    <img alt="avatar" class="avatar" height="300" th:src="${user.originalAvatarPath}" width="300">
    <div class="form-group">
        <input accept="image/png, image/jpeg, image/jpg" class="form-control-file" id="avatar" name="avatar"
               required type="file">
    </div>
    <div class="alert alert-danger mb-0" id="error" style="display: none;"></div>
    <button class="btn btn-primary mt-2 mb-2" onclick="editAvatar()" type="button">确定修改</button>
    <button class="btn btn-danger" onclick="deleteAvatar()" type="button">清除头像</button>
</main>
<script>
    <!--  点击按钮发送表单数据，回应若为ok刷新页面，否则在error内显示相应的内容，注意CSRF -->
    function editAvatar() {
        const formData = new FormData();
        formData.append('avatar', document.getElementById('avatar').files[0]);
        fetch('/api/user/edit/avatar', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').content
            }
        }).then(response => response.text()).then(response => {
            if (response === 'ok') {
                window.location.reload();
            } else {
                document.getElementById('error').style.display = 'block';
                document.getElementById('error').innerText = response;
            }
        });
    }

    function deleteAvatar() {
        fetch('/api/user/delete/avatar', {
            method: 'POST',
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').content
            }
        }).then(response => response.text()).then(response => {
            if (response === 'ok') {
                window.location.reload();
            } else {
                document.getElementById('error').style.display = 'block';
                document.getElementById('error').innerText = response;
            }
        });
    }
</script>
</body>
</html>