<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑头像</title>
    <link th:replace="~{index :: indexStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link th:replace="~{user/profile :: profileStyle}"/>
</head>
<body>
<!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
<div class="profile-header">
    <div th:insert="~{index :: nav}"></div>
    <h2>编辑档案</h2>
</div>

<main role="main" class="container">
    <div class="profile-edit-bar" th:fragment="profileEditBar">
        <a href="/profile/edit/avatar">头像</a>
        <a href="/profile/edit/info">信息</a>
    </div>
    <p>点击上方导航栏，编辑您的个人档案</p>
</main>
</body>
</html>