<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑档案</title>
    <link th:replace="~{index :: indexStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link th:replace="~{user/profile :: profileStyle}"/>
</head>
<body>
<!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
<div class="profile-header">
    <div th:insert="~{index :: nav}"></div>
    <h2>编辑档案</h2>
</div>

<main role="main" class="container">
    <div th:replace="~{user/editProfile :: profileEditBar}"></div>
    <h3 class="underlined-title">编辑个人信息</h3>
    <form th:action="@{/profile/edit/info}" method="post">
        <div class="form-group">
        </div>
        <label for="signature">个性签名</label>
        <input type="text" class="form-control" id="signature" name="signature" th:value="${user.signature}" maxlength="50">
        <button type="submit" class="btn btn-primary mt-2 mb-2">确定修改</button>
    </form>
</main>
</body>
</html>