<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑档案</title>
    <link th:replace="~{user/profile :: profileStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>
<body>
<!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
<div class="profile-header">
    <div th:insert="~{index :: nav}"></div>
    <h2>编辑档案</h2>
</div>

<main class="container" role="main">
    <div th:replace="~{user/editProfile :: profileEditBar}"></div>
    <h3 class="underlined-title">编辑个人信息</h3>
    <form method="post" th:action="@{/profile/edit/info}">
        <div class="form-group">
        </div>
        <label for="signature">个性签名</label>
        <input class="form-control" id="signature" maxlength="80" name="signature"
               th:value="${user.signature}" type="text">
        <button class="btn btn-primary mt-2 mb-2" type="submit">确定修改</button>
    </form>
</main>
</body>
</html>