<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>遗忘密码</title>
    <th:block th:replace="~{index :: indexStyle}"></th:block>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>

<body class="colored-background">

<div th:insert="~{index :: nav}"></div>
<main class="card-container" role="main">
    <div class="login-card" id="loginForm">
        <form class="login-form" method="post" th:action="@{/password/forget}">
            <div class="login-title">
                <h1>遗忘密码</h1>
                <p>忘记了密码？用邮箱找回！</p>
            </div>
            <div class="form-item" th:unless="${param.notExists eq null}">
                <div class="alert alert-danger ml-3 mr-3 mb-0">此用户不存在或未绑定邮箱</div>
            </div>
            <div class="form-item" th:unless="${param.wrong eq null}">
                <div class="alert alert-danger ml-3 mr-3 mb-0">验证码不正确</div>
            </div>
            <div class="form-item">
                <div class="alert alert-danger ml-3 mr-3 mb-0" id="errorMsg" style="display: none;">
                </div>
            </div>
            <div class="from-item" id="ok" style="display: none">
                <div class="alert alert-success ml-3 mr-3 mb-0">
                    验证码已发送
                </div>
            </div>
            <div class="form-item">
                <input id="username" name="username" placeholder="用户名" required type="text">
            </div>
            <div class="form-item">
                <input id="code" name="code" placeholder="验证码" required type="text">
            </div>
            <div class="form-item-other">
                <button id="verificationBtn" onclick="sendVerification()"
                        style="width: 37%; margin-left: 30px" type="button">
                    获取验证码
                </button>
                <button style="width: 37%; margin-right: 30px" type="submit">确定</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{index :: footer}"></footer>
<script>
    function sendVerification() {
        const msg = document.getElementById('errorMsg');
        const btn = document.getElementById('verificationBtn');
        const username = document.getElementById('username').value;
        let count = 10;
        btn.disabled = true;
        btn.classList.add("disabled")
        btn.innerText = count + 's后重试';
        const timer = setInterval(() => {
            count--;
            btn.innerText = count + 's后重试';
            if (count === 0) {
                clearInterval(timer);
                btn.innerText = '获取验证码';
                btn.disabled = false;
                btn.classList.remove("disabled")
            }
        }, 1000);
        fetch('/api/user/email/reset?username=' + username, {
            method: 'GET',
        })
            .then(response => {
                if (!response.ok) {
                    window.location.href = '/password/forget?notExists';
                } else {
                    document.getElementById("ok").style.display = 'block';
                    msg.style.display = 'none';
                }
            })
    }
</script>
</body>
</html>