<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>遗忘密码</title>
    <link th:replace="~{index :: indexStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>

<body class="colored-background">

<div th:insert="~{index :: nav}"></div>
<main role="main" class="card-container">
    <div class="login-card" id="loginForm">
        <form class="login-form" th:action="@{/password/forget}" method="post">
            <div class="login-title">
                <h1>遗忘密码</h1>
                <p>忘记了密码？用邮箱找回！</p>
            </div>
            <div class="form-item" th:unless="${error eq null}">
                <div class="alert alert-danger ml-3 mr-3 mb-0" th:text="${error}">
                </div>
            </div>
            <div class="form-item">
                <div id="errorMsg" class="alert alert-danger ml-3 mr-3 mb-0" style="display: none;">
                </div>
            </div>
            <div class="form-item">
                <input type="text" name="username" id="username" placeholder="用户名" required>
            </div>
            <div class="form-item">
                <input type="text" name="code" id="code" placeholder="验证码" required>
            </div>
            <div class="form-item-other">
                <button style="width: 37%; margin-left: 30px" type="button"
                        id="verificationBtn" onclick="sendVerification()">
                    获取验证码
                </button>
                <button style="width: 37%; margin-right: 30px" type="submit">确定</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{index :: footer}"></footer>
<script>
    function sendVerification() {
        const msg = document.getElementById('errorMsg');
        const btn = document.getElementById('verificationBtn');
        const username = document.getElementById('username').value;
        let count = 10;
        btn.disabled = true;
        btn.classList.add("disabled")
        btn.innerText = count + 's后重试';
        const timer = setInterval(() => {
            count--;
            btn.innerText = count + 's后重试';
            if (count === 0) {
                clearInterval(timer);
                btn.innerText = '获取验证码';
                btn.disabled = false;
                btn.classList.remove("disabled")
            }
        }, 1000);
        fetch('/email/verification/reset?username=' + username, {
            method: 'GET',
        })
            .then(response => {
                if (!response.ok) {
                    msg.style.display = 'block';
                    msg.innerText = '没有此用户或未绑定邮箱';
                } else {
                    msg.style.display = 'none';
                }
                return response.json();
            })
    }
</script>
</body>
</html>