<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link th:replace="~{index :: indexStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>

<body class="colored-background">

<div th:insert="~{index :: nav}"></div>
<main role="main" class="card-container">
    <div class="login-card" id="loginForm">
        <form class="login-form" th:action="@{/login}" method="post">
            <div class="login-title">
                <h1>登录</h1>
                <p>登录以在OICraft练习</p>
            </div>
            <div class="form-item" th:if="${param.error}">
                <div class="alert alert-danger ml-3 mr-3 mb-0">
                    用户名或密码错误
                </div>
            </div>
            <div class="form-item">
                <input type="text" name="username" placeholder="用户名" required autofocus>
            </div>
            <div class="form-item">
                <input type="password" name="password" placeholder="密码" required>
            </div>
            <div class="form-item-other">
                <div class="checkbox">
                    <input type="checkbox" id="rememberMe" name="rememberMe">
                    <label for="rememberMe">记住我</label>
                </div>
                <div class="login-footer ml-auto">
                    还没有账户？<a th:href="@{/register}">点击注册</a>
                </div>
            </div>
            <button type="submit">登录</button>
        </form>
    </div>
</main>
<footer th:replace="~{index :: footer}"></footer>
</body>

</html>