<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户登出</title>
    <th:block th:replace="~{index :: indexStyle}"></th:block>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>

<body class="colored-background">

<div th:insert="~{index :: nav}"></div>
<main role="main" class="card-container">
    <div class="login-card" id="logoutForm">
        <form class="login-form" th:action="@{/logout}" method="post">
            <div class="login-title">
                <h3>确定要登出吗？</h3>
            </div>
            <button type="submit">登出</button>
        </form>
    </div>
</main>
<footer th:replace="~{index :: footer}"></footer>
</body>

</html>