<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>注销账户</title>
    <th:block th:replace="~{index :: indexStyle}"></th:block>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>

<body class="colored-background">

<div th:insert="~{index :: nav}"></div>
<main role="main" class="card-container">
    <div class="login-card" id="logoutForm">
        <form class="login-form" th:action="@{/logoff}" method="post">
            <div class="login-title">
                <h3>要注销账号吗？</h3>
                <p>账号会消失很久...真的很久！</p>
            </div>
            <button type="submit">我心已决</button>
        </form>
    </div>
</main>
<footer th:replace="~{index :: footer}"></footer>
</body>

</html>