<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link th:replace="~{index :: indexStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link rel="stylesheet" href="/css/profile.css" th:fragment="profileStyle">
</head>
<body>
<div class="profile-header">
    <div th:insert="~{index :: nav}"></div>
    <img class="avatar" th:src="${seeUser.avatarPath}" alt="avatar">
    <a class="modify-avatar" th:if="${user != null && user.equals(seeUser)}"
       href="/profile/edit/avatar">修改头像</a>
    <h2 th:text="${seeUser.name}" th:class="${seeUser.getGradeString()}" style="margin-left: 220px !important;"></h2>
    <p th:if="${seeUser.signature eq null}" style="margin-left: 220px !important;">这个人很懒，什么都没有留下</p>
    <p th:unless="${seeUser.signature eq null}" th:text="${seeUser.signature}"
       style="margin-left: 220px !important;"></p>

    <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
    <div class="buttons" th:if="${user != null}">
        <a class="btn btn-primary button-item" href="/profile/edit" th:if="${user.equals(seeUser)}">编辑档案</a>
        <button class="btn btn-primary button-item" th:if="${user.equals(seeUser) && !hasCheckedIn}" id="checkInBtn">
            签到
        </button>
        <button class="btn btn-secondary button-item" th:if="${user.equals(seeUser) && hasCheckedIn}" disabled>√
            已签到
        </button>
    </div>
</div>
<main role="main" class="container">
    <div class="lr-container">
        <div class="profile-main">
            <!-- DO NOT show this card when the user has no problems waiting to solve -->
            <div class="card mb-4" th:if="${toSolve.size() != 0}">
                <h5 class="card-header">尝试的题目</h5>
                <div class="card-body">
            <span th:each="problem : ${toSolve}">
                <a th:href="@{/problem/{id}(id=${problem.id})}"
                   th:text="${problem.getIdString()}"></a>
            </span>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">通过题目</h5>
                <div class="card-body">
                    <span class="badge badge-success mt-2 my-large-badge">简单</span>
                    <br/>
                    <span th:each="problem : ${passed}">
                <a th:if="${problem.isEasy()}" th:href="@{/problem/{id}(id=${problem.id})}"
                   th:text="${problem.getIdString()}"></a>
            </span>
                    <br/>
                    <span class="badge badge-warning mt-2 my-large-badge">中等</span>
                    <br/>
                    <span th:each="problem : ${passed}">
                <a th:if="${problem.isMedium()}" th:href="@{/problem/{id}(id=${problem.id})}"
                   th:text="${problem.getIdString()}"></a>
            </span>
                    <br/>
                    <span class="badge badge-danger mt-2 my-large-badge">困难</span>
                    <br/>
                    <span th:each="problem : ${passed}">
                <a th:if="${problem.isHard()}" th:href="@{/problem/{id}(id=${problem.id})}"
                   th:text="${problem.getIdString()}"></a>
            </span>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <!-- DO NOT show this card when the user has no problems waiting to solve -->
            <div class="card mb-4">
                <h5 class="card-header">个人信息</h5>
                <div class="card-body">
                    <div class="info-line">
                        <p>用户名</p>
                        <p th:text="${seeUser.name}" id="username"></p>
                    </div>
                    <div class="info-line">
                        <p>经验</p>
                        <p th:text="${seeUser.experience}" id="experience"></p>
                    </div>
                    <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
                    <div class="info-line" th:if="${seeUser.equals(user)}">
                        <p>邮箱</p>
                        <p th:unless="${seeUser.email eq null}">已绑定</p>
                        <a th:if="${seeUser.email eq null}" href="/email">
                            去绑定</a>
                    </div>
                    <div class="info-line">
                        <p>等级</p>
                        <p th:text="${seeUser.gradeString}" id="grade"></p>
                    </div>
                    <div class="info-line">
                        <p>用户组</p>
                        <p th:if="${seeUser.isAdmin()}">管理员</p>
                        <p th:unless="${seeUser.isAdmin()}">用户</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    let checkInBtn = document.getElementById('checkInBtn')
    checkInBtn.addEventListener('click', function () {
        fetch('/profile/checkin', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRF-TOKEN': document.querySelector('meta[name="_csrf"]').content
            }
        })
            .then(response => {
                if (response.ok) {
                    const experience = document.getElementById('experience');
                    experience.innerText = (parseInt(experience.innerText) + 1).toString();
                    checkInBtn.disabled = true;
                    checkInBtn.innerText = "√ 已签到";
                    checkInBtn.classList.remove("btn-primary");
                    checkInBtn.classList.add("btn-secondary");
                } else {
                    alert("签到失败！" + response.text());
                }
            })
    });
</script>
</body>
</html>