<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link th:replace="~{index :: indexStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="profile-header">
    <div th:insert="~{index :: nav}"></div>
    <h2 th:text="${seeUser.name}" th:class="${seeUser.getGradeString()}"></h2>
    <p>这个人很懒，什么都没有留下</p>
</div>
<main role="main" class="container">
    <div class="card">
        <h5 class="card-header">通过题目</h5>
        <div class="card-body">
            <span class="badge badge-success mt-2 my-large-badge">简单</span>
            <br/>
            <span th:each="problem : ${passed}">
                <a th:if="${problem.isEasy()}" th:href="@{'/problems/' + ${problem.id}}"
                   th:text="${problem.getIdString()}"></a>
            </span>
            <br/>
            <span class="badge badge-warning mt-2 my-large-badge">中等</span>
            <br/>
            <span th:each="problem : ${passed}">
                <a th:if="${problem.isMedium()}" th:href="@{'/problems/' + ${problem.id}}"
                   th:text="${problem.getIdString()}"></a>
            </span>
            <br/>
            <span class="badge badge-danger mt-2 my-large-badge">困难</span>
            <br/>
            <span th:each="problem : ${passed}">
                <a th:if="${problem.isHard()}" th:href="@{'/problems/' + ${problem.id}}"
                   th:text="${problem.getIdString()}"></a>
            </span>
        </div>
    </div>
</main>
</body>
</html>