<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>注册用户</title>
    <th:block th:replace="~{index :: indexStyle}"></th:block>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>

<body class="colored-background">
<div th:insert="~{index :: nav}"></div>
<main class="card-container" role="main">
    <div class="login-card" id="registerForm">
        <form class="login-form" method="post" th:action="@{/register}">
            <div class="login-title">
                <h1>注册</h1>
                <p>欢迎来到OICraft</p>
            </div>
            <div class="form-item" th:unless="${param.illegal eq null}">
                <div class="alert alert-danger ml-3 mr-3">
                    用户名非法，只允许英文、数字和下划线，且至少两字符
                </div>
            </div>
            <div class="form-item" th:unless="${param.exist eq null}">
                <div class="alert alert-danger ml-3 mr-3">
                    用户名已存在
                </div>
            </div>
            <div class="form-item">
                <input autofocus id="username" maxlength="10" name="username" placeholder="用户名" required type="text">
            </div>
            <div class="form-item">
                <input id="password" maxlength="15" name="password" placeholder="密码" required type="password">
            </div>
            <button type="submit">注册</button>
            <div class="login-footer">
                已有账户，<a th:href="@{/login}">点击登录</a>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{index :: footer}"></footer>
</body>

</html>