<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>注册用户</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link th:replace="~{index :: indexStyle}"/>
</head>

<body class="colored-background">
<div th:insert="~{index :: nav}"></div>
<main role="main" class="card-container">
    <div class="login-card" id="registerForm">
        <form class="login-form" th:action="@{/register}" method="post">
            <div class="login-title">
                <h1>注册</h1>
                <p>欢迎来到OICraft</p>
            </div>
            <div class="form-item" th:if="${param.error}">
                <div class="alert alert-danger ml-3 mr-3">
                    用户名已存在
                </div>
            </div>
            <div class="form-item">
                <input name="username" id="username" type="text" placeholder="用户名" maxlength="10" required autofocus>
            </div>
            <div class="form-item">
                <input name="password" id="password" type="password" placeholder="密码" maxlength="15" required>
            </div>
            <button type="submit">注册</button>
            <div class="login-footer">
                已有账户，<a th:href="@{/login}">点击登录</a>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{index :: footer}"></footer>
</body>

</html>