<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link th:replace="~{index :: indexStyle}"/>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>

<body class="colored-background">

<div th:insert="~{index :: nav}"></div>
<main role="main" class="card-container">
    <div th:text="${originalPassword}" id="originalPassword" style="display: none"></div>
    <div th:text="${username}" id="username" style="display: none"></div>
    <div class="login-card" id="loginForm">
        <div class="login-form">
            <div class="login-title">
                <h1>重置密码</h1>
                <p>在这里重置您的密码</p>
            </div>
            <div class="form-item">
                <div id="errorMsg" class="alert alert-danger ml-3 mr-3 mb-0" style="display: none;">
                </div>
            </div>
            <div class="form-item">
                <input type="password" name="password" id="password1" placeholder="密码" required autofocus>
            </div>
            <div class="form-item">
                <input type="password" name="password" id="password2" placeholder="确认密码" required>
            </div>
            <button type="button" onclick="submitForm()">确认</button>
        </div>
    </div>
</main>
<script>
    <!-- submit the form  -->
    function submitForm() {
        const password1 = document.getElementById('password1').value;
        const password2 = document.getElementById('password2').value;
        const username = document.getElementById('username').innerText;
        const originalPassword = document.getElementById('originalPassword').innerText;
        const msg = document.getElementById('errorMsg');
        if (password1 === '') {
            msg.style.display = 'block';
            msg.innerText = '密码不能为空';
            return;
        }
        if (password1 !== password2) {
            msg.style.display = 'block';
            msg.innerText = '两次密码不一致';
            return;
        }
        fetch(
            '/password/reset?username=' + username + '&password=' + password1 + '&originalPassword=' + originalPassword,
            {method: 'GET'})
            .then(response => {
                if (response.ok)
                    window.location.href = '/password/reset/success';
                else {
                    msg.style.display = 'block';
                    msg.innerText = '重置密码失败';
                }
            })
    }
</script>
<footer th:replace="~{index :: footer}"></footer>
</body>

</html>