<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>403</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link th:replace="~{index :: indexStyle}"/>
</head>

<body class="colored-background">

<div class="full-screen">
    <div th:insert="~{index :: nav}"></div>
    <main role="main" class="card-container">
        <div class="login-card" id="loginForm">
            <form class="login-form" th:action="@{/}" method="get">
                <div class="login-title">
                    <h1>您没有资格访问此界面</h1>
                    <p>* 也许你应该向管理员要op *</p>
                </div>
                <button type="submit">回到主页</button>
            </form>
        </div>
    </main>
    <footer th:replace="~{index :: footer}"></footer>
</div>
</body>

</html>