.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    margin-bottom: 40px;
    background-color: #333333;
    color: white;
    padding: 20px 150px 20px 150px;
}

.header h2 {
    padding-bottom: 10px;
    font-weight: bolder;
}

.header .link * {
    font-size: 15px;
    color: lightgray;
}

.hide {
    display: none;
}

.my-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 30px;
}

.my-large-badge {
    font-size: 100% !important;
    font-weight: normal !important;
    padding: 3px 6px 5px !important;
}

.lr-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.BEGINNER {
    color: rgb(82, 196, 26) !important;
    text-decoration: none !important;
}

.INTERMEDIATE {
    color: rgb(70, 161, 222) !important;
    text-decoration: none !important;
}

.ADVANCED {
    color: rgb(243, 156, 17) !important;
    text-decoration: none !important;
}

.EXPERT {
    color: rgb(254, 76, 97) !important;
    text-decoration: none !important;
}