main {
    margin-bottom: 50px;
}

.markdown table {
    border-collapse: collapse;
    border: 2px solid #242627;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown table th {
    text-align: center;
}

.markdown table td,
.markdown table th {
    border: 1px solid #777;
    padding-left: 5px;
    padding-right: 5px;
}

.underlined-title {
    padding-bottom: 10px;
    border-bottom: gray 1px solid;
}

.info-line {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 18px;
}

.my-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 30px;
}

.my-large-badge {
    font-size: 100% !important;
    font-weight: normal !important;
    padding: 3px 6px 5px !important;
}

.lr-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.DELETED {
    color: rgb(90, 90, 90) !important;
}

.BEGINNER {
    color: rgb(70, 161, 222) !important;
}

.INTERMEDIATE {
    color: rgb(82, 196, 26) !important;
}

.ADVANCED {
    color: rgb(243, 156, 17) !important;
}

.EXPERT {
    color: rgb(254, 76, 97) !important;
}

.avatar {
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bar-outer {
    display: flex;
    height: 10px;
    border-radius: 5px;
    min-width: 100px;
    background-color: #888;
    padding: 0 !important;
    align-self: center;
}

.bar-inner {
    border-radius: 10px;
}

.table th,
.table td {
    vertical-align: middle;
}

.no-dec {
    text-decoration: none !important;
}

.input-code * {
    font-family: Consolas, monospace !important;
    font-size: 20px;
}

.CodeMirror-hints {
    font-family: Consolas, monospace !important;
    font-size: 17px;
}

.link-danger {
    color: #dc3545 !important;
    background-color: transparent;
    border: none;
}

.link-danger:hover {
    color: #bb2333 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: dropdownFadeIn 0.5s ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none !important;
    display: block;
}

.dropdown-content a:hover {
    color: #2d8ecf;
    background-color: rgba(255, 255, 255, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: dropdownFadeIn 0.5s ease-in-out;
}

.drop-btn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


@keyframes dropdownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

