.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    margin-bottom: 40px;
    background-color: #333;
    color: white;
    padding: 20px 150px 20px 150px;
    min-width: 1000px;
}

.header .user-details {
    background-color: rgba(200, 210, 210, 0.8);
    height: 60px;
    border-radius: 10px;
    padding: 40px 20px 25px;
    position: absolute;
    right: 50px;
    top: -10px;
    float: right;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.user-details .user-item {
    color: rgba(26, 28, 29, 0.9);
    padding-left: 5px;
    padding-right: 5px;
}

.user-details a {
    text-decoration: none;
}

.user-details a:hover {
    color: rgba(26, 28, 29, 0.6);
}

.markdown table {
    border-collapse: collapse;
    border: 2px solid #242627;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.markdown table th {
    text-align: center;
}

.markdown table td,
.markdown table th {
    border: 1px solid #777;
    padding-left: 5px;
    padding-right: 5px;
}

.underlined-title {
    padding-bottom: 10px;
    border-bottom: gray 1px solid;
}

.header h2 {
    padding-bottom: 10px;
    font-weight: bolder;
}

.header .link * {
    font-size: 15px;
    color: lightgray;
}

.info-line {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 18px;
}

.my-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 30px;
}

.my-large-badge {
    font-size: 100% !important;
    font-weight: normal !important;
    padding: 3px 6px 5px !important;
}

.lr-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.DELETED {
    color: rgb(90, 90, 90) !important;
}

.BEGINNER {
    color: rgb(70, 161, 222) !important;
    text-decoration: none !important;
}

.INTERMEDIATE {
    color: rgb(82, 196, 26) !important;
    text-decoration: none !important;
}

.ADVANCED {
    color: rgb(243, 156, 17) !important;
    text-decoration: none !important;
}

.EXPERT {
    color: rgb(254, 76, 97) !important;
    text-decoration: none !important;
}

.bar-outer {
    display: flex;
    height: 10px;
    border-radius: 5px;
    min-width: 100px;
    background-color: #888;
    padding: 0 !important;
    align-self: center;
}

.bar-inner {
    border-radius: 10px;
}

.table th,
.table td {
    vertical-align: middle;
}