.ide-wrapper {

}

.io-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.io {
    resize: none;
    overflow-y: auto;
    width: 100%;
    height: 200px !important;
    font-family: Consolas, monospace;
    font-size: 18px;
}

.io-title {
    margin: 10px;
    font-size: 20px;
}

.input-container,
.output-container {
    width: 90%;
    height: 100%;
}

