.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    margin-bottom: 40px;
    background-color: #333333;
    color: white;
    padding: 20px 150px 20px 150px;
}

.problem-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.problem-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #eee;
    border-radius: 8px;
}

.problem-main {
    width: calc(66.66% - .5em);
}

.problem-brief {
    width: calc(33.33% - .5em);
    float: right;
    height: 300px;
    padding-top: 30px;
}

.problem-brief .info-line {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-size: 18px;
}

.problem-part {
    margin-bottom: 1em;
    border-bottom: 1px dashed #ddd;
}

.problem-part:last-child {
    border-bottom: none;
}

.problem-part h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.problem-part p {
    margin-bottom: 1em;
    font-size: 20px;
}

.io-container {
    display: flex;
}

.io-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 10px;
}

.code {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 1em;
    font-size: 15px;
    font-family: Consolas, monospace;
}