.problem-main {
    width: calc(66.66% - .5em);
}

.problem-brief {
    width: calc(33.33% - .5em);
    float: right;
    height: 220px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.problem-brief .info-line {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-size: 18px;
}

.problem-part {
    margin-bottom: 1em;
    border-bottom: 1px dashed #ddd;
}

.problem-part:last-child {
    border-bottom: none;
}

.problem-part h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.problem-part p {
    margin-bottom: 1em;
    font-size: 18px;
}

.io-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 10px;
}

.code {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 1em;
    font-size: 15px;
    font-family: Consolas, monospace;
}

.problem-status-box {
    float: right;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.problem-status-item {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

.problem-status-item:last-child {
    border-right: none;
}

.problem-status-item p {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
