.profile-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    min-width: 1000px;
    margin-bottom: 40px;
    background-color: #333333;
    color: white;
    background-image:url(//www.mcmod.cn/static/center/images/user/banner/1/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-header h2,
.profile-header p {
    margin-left: 150px;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    position: absolute;
}

.profile-header h2 {
    bottom: 40px;
}

.profile-header p,
.profile-header .avatar,
.profile-header .modify-avatar{
    bottom: 0;
}

.profile-header .avatar,
.profile-header .modify-avatar {
    position: absolute;
    width: 70px;
    height: 70px;
    margin-left: 130px;
    margin-bottom: 15px;
}

.profile-header .modify-avatar {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    z-index: 1;
    display: none;
}

.profile-header .avatar:hover + .modify-avatar {
    display: block;
}

.profile-header .modify-avatar:hover {
    display: block;
}

.profile-header .buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.profile-header .buttons button {
    margin-right: 20px;
    width: 100px;
}

.profile-main {
    width: calc(66.66% - .5em);
    min-width: 500px;
}

.profile-info {
    width: calc(33.33% - .5em);
    min-width: 250px;
    float: right;
    height: 220px;
}
