.box-container {
    display: flex;
    flex-wrap: wrap;
}

.checkpoint-box {
    position: relative;
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.msg-box {
    z-index: 5;
    position: absolute;
    background-color: #222222;
    font-family: consolas, monospace;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.checkpoint-num {
    position: absolute;
    top: 2px;
    font-size: 13px;
}

.checkpoint-box:hover .msg-box {
    padding: 2px;
    opacity: 0.8;
}

.p-box {
    background-color: #666666;
}

.ac-box {
    background-color: rgb(82, 196, 26);
}

.wa-box {
    background-color: rgb(231, 76, 60);
}

.ce-box {
    background-color: #aaaa22;
}

.re-box {
    background-color: rgb(157, 61, 207);
}

.tle-box {
    background-color: rgb(5, 34, 66);
}

.mle-box {
    background-color: rgb(5, 34, 66);
}

.text-status {
    position: relative;
    top: 23%;
    font-size: 23px;
}

.text-cost {
    position: relative;
    top: 10%;
    font-size: 12px;
}

.result-box {
    border-left: 5px solid;
    padding: 15px 20px;
    font-size: 20px;
    margin-bottom: 50px;
}

.passed-box {
    background-color: rgba(82, 196, 26, 0.2);
    border-color: rgba(82, 196, 26, 0.8);
    color: rgb(41, 89, 17);
}

.failed-box {
    background-color: rgba(231, 76, 60, 0.2);
    border-color: rgba(231, 76, 60, 0.8);
    color: rgb(89, 20, 17);
}

.pending-box {
    background-color: rgba(188, 188, 188, 0.2);
    border-color: rgba(188, 188, 188, 0.8);
    color: rgb(80, 80, 80);
}