<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OICraft</title>

    <!-- Base Styles -->
    <th:block th:fragment="baseStyle">
        <meta name="_csrf" th:content="${_csrf.token}" type="hidden"/>
        <link href="/static/plugins/bootstrap-4.6.2-dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/base.css" rel="stylesheet"/>
        <link href="//at.alicdn.com/t/c/font_4514574_70s0bnl4o1v.css" rel="stylesheet">
    </th:block>

    <!-- MathJax and Markdown Support -->
    <th:block th:fragment="markdown">
        <!-- MathJax -->
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {
                inlineMath: [
                  ['$', '$'],
                  ['\\(', '\\)']
                ],
                displayMath: [
                  ['$$', '$$'],
                  ['\\[', '\\]']
                ],
                processEscapes: true
              },
              TeX: {
                extensions: ['AMSmath.js', 'AMSsymbols.js'],
                equationNumbers: {
                  autoNumber: ['AMS'],
                  useLabelIds: true
                },
                Macros: {
                  hfill: '{}'
                }
              },
              'HTML-CSS': {
                linebreaks: {
                  automatic: true
                },
                availableFonts: ['TeX'],
                scale: 110
              },
              SVG: {
                linebreaks: {
                  automatic: true
                }
              }
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/docco.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </th:block>

    <script src="/static/js/run-markdown.js" th:fragment="runMarkdown"></script>
    <script src="/static/js/person-link.js" th:fragment="personLink"></script>

    <th:block th:fragment="codeMirror">
        <link href="/static/plugins/codemirror/lib/codemirror.css" rel="stylesheet">
        <script src="/static/plugins/codemirror/lib/codemirror.js"></script>
        <link href="/static/plugins/codemirror/theme/eclipse.css" rel="stylesheet">

        <script src="/static/plugins/codemirror/mode/clike/clike.js"></script>
        <script src="/static/plugins/codemirror/mode/python/python.js"></script>
        <link href="/static/plugins/codemirror/addon/hint/show-hint.css" rel="stylesheet">
        <script src="/static/plugins/codemirror/addon/hint/show-hint.js"></script>
        <script src="/static/plugins/codemirror/addon/hint/anyword-hint.js"></script>
        <script src="/static/plugins/codemirror/addon/edit/matchbrackets.js"></script>

        <link href="/static/plugins/codemirror/addon/fold/foldgutter.css" rel="stylesheet"/>
        <script src="/static/plugins/codemirror/addon/fold/foldcode.js"></script>
        <script src="/static/plugins/codemirror/addon/fold/foldgutter.js"></script>
        <script src="/static/plugins/codemirror/addon/fold/brace-fold.js"></script>
        <script src="/static/plugins/codemirror/addon/fold/comment-fold.js"></script>
    </th:block>
</head>
<body>
</body>
</html>