<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OICraft</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link rel="stylesheet" href="/css/index.css" th:fragment="indexStyle">

</head>
<body class="colored-background">

<!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(255,255,255,0.5); border:none;">
        <a class="navbar-brand" href="/">𒀭OICraft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">首页</a>
                </li>
                <li class="nav-item">
                    <a href="/problems" class="nav-link">题目清单</a>
                </li>
                <li class="nav-item" th:unless="${user eq null}">
                    <a href="/profile" class="nav-link">个人主页</a>
                </li>
                <li class="nav-item">
                    <a href="/ide" class="nav-link">在线IDE</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:if="${user} eq null">
                <li class="nav-item">
                    <a class="nav-link" href="/register">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">登录</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:unless="${user} eq null">
                <li class="nav-item">
                        <span class="navbar-text no-dec"
                              style="color:rgba(0,0,0,0.5); ">欢迎 &nbsp;</span>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="drop-btn nav-link pr-3 pl-0" th:text="${user.name}" href="/profile"></a>
                        <div class="dropdown-content" style="right: 0">
                            <a href="/profile">个人主页</a>
                            <a th:if="${user.isAdmin()}" href="/admin">站点管理</a>
                            <a href="/logout">登出</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<main role="main" class="container pt-4">
    <div class="jumbotron welcome mb-1">
        <h1 class="display-4">OICraft</h1>
        <p class="lead">
            一个更简单的代码评测网站。 <br/>
            享受设计算法的过程，提升您的编程能力。 <br/>
            新上线 AI 查错功能，让科大讯飞助您一臂之力。
        </p>
        <div>
            <span class="blinking-code" style="float: right;"></span>
        </div>
    </div>
    <div id="start-arrow-container">
        <div id="start-arrow">
            <a class="iconfont icon-icon_xiangxia_ no-dec" href="/problems"></a>
        </div>
    </div>

    <footer class="footer" th:fragment="footer">
        <span class="mb-0">&copy; 2024 OICraft. All rights reserved.</span>
        <span class="iconfont icon-github pl-5"></span>
        <a href="https://github.com/LeoDreamer2004/OICraft" class="pl-2">项目主页</a>
        <span class="pl-2">|</span>
        <a href="https://github.com/LeoDreamer2004" class="pl-2">联系作者</a>
    </footer>
</main>
<script type="text/javascript">
    const text = document.querySelector('.blinking-code');
    const txt = [
        'print("Hello OICraft!")', // Python
        'System.out.println("Hello OICraft!");', // Java
        'echo "Hello OICraft!";', // PHP
        'printf("Hello OICraft!");', // C
        'cout << "Hello OICraft!" << endl;', // C++
        'console.log("Hello OICraft!");', // JavaScript
        'println!("Hello OICraft!");', // Rust
        'fmt.Println("Hello OICraft!")', // Go
    ];
    let index = 0;
    let i = 0;
    let output = true;

    setInterval(function () {

        if (output) {
            text.innerHTML = txt[i].slice(0, ++index);
            console.log(index);
        } else {
            text.innerHTML = txt[i].slice(0, index--);
            console.log(index);
        }

        if (index === txt[i].length + 15) {
            output = false;
        } else if (index < 0) {
            index = 0;
            output = true;
            i++;
            if (i >= txt.length) {
                i = 0;
            }
        }

    }, 60)
</script>
</body>
</html>