<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OICraft</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link rel="stylesheet" href="/css/index.css" th:fragment="indexStyle">
    <style>
        .welcome {
            animation: flowUp 0.5s ease-in-out 1;
        }

        @keyframes flowUp {
            0% {
                transform: translateY(10px);
                opacity: 0.3;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    </style>

</head>
<body class="colored-background">

<!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(255,255,255,0.5); border:none;">
        <a class="navbar-brand" th:href="@{/}">OICraft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">首页</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/problems}" class="nav-link">题目清单</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:if="${user} eq null">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">登录</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:unless="${user} eq null">
                <li class="nav-item">
                        <span class="navbar-text"
                              style="text-decoration: none; color:rgba(0,0,0,0.5); ">欢迎 &nbsp;</span>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="drop-btn nav-link pr-3 pl-0" th:text="${user.name}" th:href="@{/profile}"></a>
                        <div class="dropdown-content" style="right: 0">
                            <a th:href="@{/profile}">个人主页</a>
                            <a th:if="${user.isAdmin()}" th:href="@{/admin}">站点管理</a>
                            <a th:href="@{/logout}">登出</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<main role="main" class="container pt-4">

    <div class="jumbotron welcome" style="background-color: rgba(200, 230, 230, 0.5)">
        <h1 class="display-4">OICraft</h1>
        <p class="lead">
            一个更简单的代码评测网站。 <br/>
            欢迎使用，以提升您的编程能力。
        </p>
    </div>

    <footer class="footer" th:fragment="footer">
        <span class="mb-0">&copy; 2024 OICraft. All rights reserved.</span>
        <span class="iconfont icon-github pl-5"></span>
        <a href="https://github.com/LeoDreamer2004/OICraft" class="pl-2">项目主页</a>
        <span class="pl-2">|</span>
        <a href="https://github.com/LeoDreamer2004" class="pl-2">联系作者</a>
    </footer>
</main>
<!--</div>-->
</body>
</html>