<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OICraft</title>
    <th:block th:fragment="indexStyle">
        <link href="/static/img/favicon/1.ico" rel="shortcut icon">
        <link href="/static/css/index.css" rel="stylesheet">
    </th:block>
    <th:block th:replace="~{base :: baseStyle}"></th:block>

</head>
<body class="colored-background">

<!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(255,255,255,0.5); border:none;">
        <a class="navbar-brand" href="/">𒀭OICraft</a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarCollapse" data-toggle="collapse" type="button"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/problems">题目清单</a>
                </li>
                <li class="nav-item" th:unless="${user eq null}">
                    <a class="nav-link" href="/profile">个人主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ide">在线IDE</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:if="${user} eq null">
                <li class="nav-item">
                    <a class="nav-link" href="/register">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">登录</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" th:unless="${user} eq null">
                <li class="nav-item">
                        <span class="navbar-text no-dec"
                              style="color:rgba(0,0,0,0.5); ">欢迎 &nbsp;</span>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="drop-btn nav-link pr-3 pl-0" href="/profile" th:text="${user.name}"></a>
                        <div class="dropdown-content" style="right: 0">
                            <a href="/profile">个人主页</a>
                            <a href="/admin" th:if="${user.isAdmin()}">站点管理</a>
                            <a href="/logout">登出</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<main class="container pt-4" role="main">
    <div class="jumbotron welcome mb-1">
        <h1 class="display-4">OICraft</h1>
        <p class="lead">
            一个更简单的代码评测网站。 <br/>
            享受设计算法的过程，提升您的编程能力。 <br/>
            新上线 AI 查错功能，让科大讯飞助您一臂之力。
        </p>
        <div>
            <span class="blinking-code" style="float: right;"></span>
        </div>
    </div>
    <div id="start-arrow-container">
        <div id="start-arrow">
            <a class="iconfont icon-icon_xiangxia_ no-dec" href="/problems"></a>
        </div>
    </div>

    <footer class="footer" th:fragment="footer">
        <span class="mb-0">&copy; 2024 OICraft. All rights reserved.</span>
        <span class="iconfont icon-github pl-5"></span>
        <a class="pl-2" href="https://github.com/LeoDreamer2004/OICraft">项目主页</a>
        <span class="pl-2">|</span>
        <a class="pl-2" href="https://github.com/LeoDreamer2004">联系作者</a>
    </footer>
</main>
<script type="text/javascript">
    const text = document.querySelector('.blinking-code');
    const txt = [
        'print("Hello OICraft!")', // Python
        'System.out.println("Hello OICraft!");', // Java
        'echo "Hello OICraft!";', // PHP
        'printf("Hello OICraft!");', // C
        'cout << "Hello OICraft!" << endl;', // C++
        'console.log("Hello OICraft!");', // JavaScript
        'println!("Hello OICraft!");', // Rust
        'fmt.Println("Hello OICraft!")', // Go
    ];
    let index = 0;
    let i = 0;
    let output = true;

    setInterval(function () {

        if (output) {
            text.innerHTML = txt[i].slice(0, ++index);
        } else {
            text.innerHTML = txt[i].slice(0, index--);
        }

        if (index === txt[i].length + 15) {
            output = false;
        } else if (index < 0) {
            index = 0;
            output = true;
            i++;
            if (i >= txt.length) {
                i = 0;
            }
        }

    }, 60)
</script>
</body>
</html>