<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<div class="login-card">
    <div class="login-title">
        <h1>登录</h1>
        <p>登录以在OICraft练习</p>
    </div>
    <form class="login-form">
        <div class="form-item">
            <input type="text" placeholder="用户名" required autofocus>
        </div>
        <div class="form-item">
            <input type="password" placeholder="密码" required>
        </div>
        <button type="submit">登录</button>
    </form>
    <div class="login-footer">
        还没有账户？<a href="#">点击注册</a>
    </div>
</div>
</body>

</html>