<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${problem.title}"></title>
    <link th:replace="~{base :: bootstrap}"/>
    <link rel="stylesheet" href="/css/problem.css">
    <link th:replace="~{base::mathJaxScript}"/>
    <link th:replace="~{base::mathJaxConfig}"/>
</head>
<body>
<div class="header">
    <p style="font-size: 15px; color: lightgray">
        <a th:href="@{/}" style="color: lightgray">首页</a>
        <span>></span>
        <a href="#" style="color: lightgray">题目清单</a>
        <span>></span>
        <a href="#" th:text="${problem.title}" style="color: lightgray"></a>
    </p>
    <h2 th:text="${problem.title}"
        style="padding-bottom: 10px;font-weight: bolder"></h2>
    <a class="btn btn-primary mb-3">提交代码</a>
    <a class="btn btn-secondary mb-3">提交记录</a>
</div>


<main role="main" class="container">
    <div class="problem-container">
        <div class="card problem-card problem-main">
            <div class="card-body">

                <div class="problem-part">
                    <h3>题目描述</h3>
                    <p th:text="${problem.description}"></p>
                </div>
                <div class="problem-part">
                    <h3>输入格式</h3>
                    <p th:text="${problem.inputFormat}"></p>
                </div>
                <div class="problem-part">
                    <h3>输出格式</h3>
                    <p th:text="${problem.outputFormat}"></p>
                </div>
                <div class="problem-part">
                    <h3>输入输出样例</h3>
                    <div class="io-container" th:each="sample : ${problem.samples}">
                        <div class="io-item">
                            <h5 class="card-subtitle mb-2 text-muted ">输入</h5>
                            <pre class="code" th:text="${sample.input}"></pre>
                        </div>
                        <div class="io-item">
                            <h5 class="card-subtitle mb-2 text-muted">输出</h5>
                            <pre class="code" th:text="${sample.output}"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card problem-card problem-brief">
            <div class="info-line">
                <p>时间限制</p>
                <p>1.00s</p>
            </div>
            <div class="info-line">
                <p>内存限制</p>
                <p>512.0MB</p>
            </div>
            <div class="info-line">
                <p>出题人</p>
                <p>Leo</p>
            </div>
            <div class="info-line">
                <p>题目难度</p>
                <p th:if="${problem.difficulty} eq 'easy'">简单</p>
                <p th:if="${problem.difficulty} eq 'medium'">中等</p>
                <p th:if="${problem.difficulty} eq 'hard'">困难</p>
            </div>
            <div class="info-line">
                <p>历史分数</p>
                <p>0</p>
            </div>
            <a href="#" style="padding-left: 20px;">提交记录</a>
        </div>
    </div>
</main>

</body>
</html>