<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link th:replace="~{base :: baseStyle}"/>
    <link th:replace="~{base :: bootstrap}"/>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body class="colored-background">
<div class="full-screen">
    <div th:insert="~{index :: nav}"></div>
    <main role="main" class="card-container">
        <div class="login-card" id="registerForm">
            <form class="login-form">
                <div class="login-title">
                    <h1>注册</h1>
                    <p>欢迎来到OICraft</p>
                </div>
                <div class="form-item">
                    <input type="text" placeholder="用户名" required autofocus>
                </div>
                <div class="form-item">
                    <input type="password" placeholder="密码" required>
                </div>
                <button type="submit">注册</button>
                <div class="login-footer">
                    已有账户，<a th:href="@{/login}">点击登录</a>
                </div>
            </form>
        </div>
    </main>
</div>
</body>

</html>