<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>删除题目</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <a th:href="@{/problems}">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
        <span>></span>
        <span>删除题目</span>
    </p>
    <h2>删除题目：[[${problem.title}]]</h2>
    <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
    <a class="btn btn-primary mb-3" th:href="@{/problem/{id}(id=${problem.id})}">返回原题</a>
   <a class="btn btn-secondary" th:href="@{/problems}">返回题单</a>
</div>
<main role="main" class="container">
    <div class="card my-card">
        <form th:action="@{/problem/{id}/delete(id=${problem.id})}" method="post">
            <h2 style="text-align: center; padding-bottom: 10px">您确定要删除此题吗？</h2>
            <div class="lr-container">
                <button type="submit" class="btn btn-danger ml-auto mr-4">确认删除</button>
                <a th:href="@{/problem/{id}(id=${problem.id})}" class="btn btn-primary mr-auto ml-4">返回原题</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>