<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑测试点</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <a th:href="@{/problems}">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
        <span>></span>
        <span>编辑测试点</span>
    </p>
    <div th:replace="~{problem/list :: nav}"></div>
    <h2>编辑测试点：[[${problem.title}]]</h2>
    <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
    <a class="btn btn-primary mb-3" th:href="@{/problem/{id}(id=${problem.id})}">返回原题</a>
    <a class="btn btn-secondary mb-3" th:href="@{/problems}">返回题单</a>
</div>
<main role="main" class="container">
    <h4 class="underlined-title">上传测试点</h4>
    <div class="card my-card p-3">
        <form th:action="@{/problem/{id}/edit/checkpoints(id=${problem.id})}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <p>文件格式：请上传一个zip文件，其中包含两个文件夹sample和test，分别代表样例用/测试用。<br/>
                    输入输出和分数请分别存储于X.in，X.out和X.score，当X相同时认为是匹配的一组。</p>
                <b>请注意：每次上传之后会覆盖掉原有的测试点，如果需要请下载之前的测试点！</b>
                <input type="file" id="file" name="file" accept="application/zip" required>
            </div>
            <div th:unless="${param.error eq null}" th:text="${param.error}"></div>
            <a th:href="@{/problem/{id}/checkpoints/download(id=${problem.id})}" class="btn btn-primary">下载测试点</a>
            <button type="submit" class="btn btn-danger">确认修改</button>
        </form>
    </div>
</main>
</body>
</html>