<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题目列表</title>
    <link th:replace="~{base :: bootstrap}"/>
    <link th:replace="~{base :: baseStyle}"/>
    <link th:replace="~{base :: iconfont}"/>
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <span>题目清单</span>
    </p>
    <h2>题目列表</h2>
    <a class="btn btn-primary mb-3" th:href="@{/problem/new}">我要出题</a>
    <a class="btn btn-secondary mb-3" th:href="@{/}">返回首页</a>
</div>
<main role="main" class="container">
    <div class="card my-card p-3">
        <table class="table">
            <tr>
                <th>状态</th>
                <th>题号</th>
                <th>题目名称</th>
                <th>难度</th>
                <th>通过率</th>
            </tr>

            <tr th:each="problem, stat : ${problems}">
                <td th:switch="${hasPassed[stat.index]}">
                    <span th:case="1" class="iconfont icon-duihao" style="color: forestgreen"></span>
                    <span th:case="0" class="iconfont icon-jianhao" style="color: gray"></span>
                    <span th:case="-1" class="iconfont icon-cuowu" style="color: firebrick"></span>
                </td>
                <td th:text="${problem.id}"></td>
                <td>
                    <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
                </td>
                <td th:if="${problem.difficulty} eq 'easy'">
                    <span class="badge badge-success my-large-badge">简单</span>
                </td>
                <td th:if="${problem.difficulty} eq 'medium'">
                    <span class="badge badge-warning my-large-badge">中等</span>
                </td>
                <td th:if="${problem.difficulty} eq 'hard'">
                    <span class="badge badge-danger my-large-badge">困难</span>
                </td>
                <td th:unless="${problem.difficulty} eq 'easy' or ${problem.difficulty} eq 'medium' or ${problem.difficulty} eq 'hard'">
                    <span class="badge badge-secondary my-large-badge">未评定</span>
                <td th:if="${problem.submit == 0}">NaN</td>
                <td th:unless="${problem.submit == 0}" th:text="${problem.passed / problem.submit}"></td>
        </table>
    </div>
</main>

</body>
</html>