<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题目列表</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link rel="stylesheet" href="/css/problem.css">
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <span>题目清单</span>
    </p>
    <h2>题目列表</h2>
    <a class="btn btn-primary mb-3" th:href="@{/problem/new}">我要出题</a>
    <a class="btn btn-secondary mb-3" th:href="@{/}">返回首页</a>

    <div class="user-details" th:fragment="nav">
        <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
        <div th:if="${user} eq null">
            <a class="user-item" th:href="@{/register}">注册</a>
            <a class="user-item" th:href="@{/login}">登录</a>
        </div>
        <div th:unless="${user} eq null">
            <a class="user-item" th:href="@{/profile/{id}(id=${user.id})}">
                <img class="avatar" th:src="${user.avatarPath}" width="30" height="30" alt="avatar">
            </a>
            <a class="user-item" th:text="${user.name}" th:href="@{/profile}"></a>
            <a class="user-item" th:href="@{/logout}">登出</a>
        </div>
    </div>
</div>
<main role="main" class="container">
    <h5>搜索试题</h5>
    <form class="search-container mb-4" action="/problems/search" method="get">
        <input type="text" class="form-control search-field" name="keyword"
               placeholder="输入题目名称">
        <button type="submit" class="iconfont icon-sousuo search-icon"></button>
    </form>
    <div class="card my-card p-3">
        <nav>
            <ul class="pagination justify-content-center" th:unless="${page eq null}">
                <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/problems(page=1)}">首页</a>
                </li>
                <li class="page-item" th:classappend="${page == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/problems(page=${page - 1})}">上一页</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == page} ? 'active'">
                    <a class="page-link" th:href="@{/problems(page=${i})}" th:text="${i}"></a>
                <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/problems(page=${page + 1})}">下一页</a>
                </li>
                <li class="page-item" th:classappend="${page == totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{/problems(page=${totalPages})}">尾页</a>
                </li>
            </ul>
        </nav>
        <table class="table">
            <tr>
                <th>状态</th>
                <th>题号</th>
                <th>题目名称</th>
                <th>难度</th>
                <th>通过率</th>
            </tr>

            <tr th:each="problem, stat : ${problems}">
                <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
                <td th:if="${user eq null}">
                    <!-- If the user has not logged in, the status is not displayed -->
                    <span class="iconfont icon-jianhao" style="color: gray"></span>
                </td>
                <td th:unless="${user eq null}" th:switch="${hasPassed[stat.index]}">
                    <span th:case="1" class="iconfont icon-duihao" style="color: forestgreen"></span>
                    <span th:case="0" class="iconfont icon-jianhao" style="color: gray"></span>
                    <span th:case="-1" class="iconfont icon-cuowu" style="color: firebrick"></span>
                </td>
                <td th:text="${problem.getIdString()}"></td>
                <td>
                    <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
                </td>
                <td th:if="${problem.isEasy()}">
                    <span class="badge badge-success my-large-badge">简单</span>
                </td>
                <td th:if="${problem.isMedium()}">
                    <span class="badge badge-warning my-large-badge">中等</span>
                </td>
                <td th:if="${problem.isHard()}">
                    <span class="badge badge-danger my-large-badge">困难</span>
                </td>
                <td style="vertical-align: middle">
                    <span class="bar-outer" style="max-width: 200px;">
                        <span class="bar-inner" th:text="${problem.getPassRateString()}"></span>
                    </span>
                </td>
        </table>
    </div>
</main>
<script>
    // Set the width of the pass rate bar
    document.querySelectorAll('.bar-outer').forEach(
        function (item) {
            const rate = parseFloat(item.querySelector('.bar-inner').textContent) / 100;
            item.querySelector('.bar-inner').style.width = rate * 100 + '%';
            item.querySelector('.bar-inner').textContent = '';
            let red, green;
            if (rate < 0.5) {
                red = 220;
                green = rate * 2 * 220;
            } else {
                red = (1 - rate) * 2 * 220;
                green = 220;
            }
            item.querySelector('.bar-inner').style.backgroundColor =
                'rgb(' + red + ', ' + green + ', 0)';
        }
    );
</script>
</body>
</html>