<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${problem.title}"></title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <th:block th:replace="~{base :: markdown}"></th:block>
    <th:block th:replace="~{base :: highlight}"></th:block>
    <link rel="stylesheet" href="/css/problem.css">
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <a th:href="@{/problems}">题目清单</a>
        <span>></span>
        <span th:text="${problem.title}"></span>
    </p>
    <div th:replace="~{problem/list :: nav}"></div>
    <h2>[[${problem.getIdString}]] &nbsp;&nbsp; [[${problem.title}]]</h2>
    <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
    <a th:unless="${user eq null || !canSubmit}" class="btn btn-primary mb-3"
       th:href="@{/problem/{id}/submit(id=${problem.id})}">提交代码</a>
    <a th:if="${user eq null && canSubmit}" class="btn btn-primary mb-3" th:href="@{/login}">登录后提交</a>
    <a class="btn btn-secondary mb-3" th:href="@{/problems}">返回题单</a>
    <span th:unless="${canSubmit}" class="ml-3">此题暂无测试点，不可提交</span>

    <div class="problem-status-box">
        <div class="problem-status-item">
            <p>提交</p>
            <p th:text="${problem.submit}"></p>
        </div>
        <div class="problem-status-item">
            <p>通过</p>
            <p th:text="${problem.passed}"></p>
        </div>
        <div class="problem-status-item">
            <p>时间限制</p>
            <p th:text="${problem.getTimeLimitString()}"></p>
        </div>
        <div class="problem-status-item">
            <p>内存限制</p>
            <p th:text="${problem.getMemoryLimitString()}"></p>
        </div>
    </div>
</div>


<main role="main" class="container">
    <div class="lr-container">
        <div class="problem-main">
            <div class="card my-card">
                <a th:href="@{/problem/{id}/download(id=${problem.id})}"
                style="position: absolute; right: 20px; text-decoration: none">
                    <span class="iconfont icon-markdown"></span>
                    下载Markdown
                </a>
                <div class="problem-part">
                    <h3 class="mt-0">题目描述</h3>
                    <p id="description" class="markdown" th:text="${problem.description}"></p>
                </div>
                <div class="problem-part">
                    <h3>输入格式</h3>
                    <p id="inputFormat" class="markdown" th:text="${problem.inputFormat}"></p>
                </div>
                <div class="problem-part">
                    <h3>输出格式</h3>
                    <p id="outputFormat" class="markdown" th:text="${problem.outputFormat}"></p>
                </div>
                <div class="problem-part">
                    <h3>输入输出样例</h3>
                    <div class="lr-container" th:each="sample : ${samples}">
                        <div class="io-item">
                            <h5 class="card-subtitle mb-2 text-muted">输入</h5>
                            <pre class="code" th:text="${sample.input}"></pre>
                        </div>
                        <div class="io-item">
                            <h5 class="card-subtitle mb-2 text-muted">输出</h5>
                            <pre class="code" th:text="${sample.output}"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="problem-brief">
            <div class="card my-card">
                <div class="info-line">
                    <p>出题人</p>
                    <a th:unless="${author eq null}" th:text="${author.name}"
                       th:href="@{/profile/{id}(id=${author.id})}"
                       th:class="${author.getGradeString()}">
                    </a>
                    <span th:if="${author eq null}" class="DELETED">账户已注销</span>
                </div>
                <div class="info-line">
                    <p>题目难度</p>
                    <p th:if="${problem.isEasy()}">简单</p>
                    <p th:if="${problem.isMedium()}">中等</p>
                    <p th:if="${problem.isHard()}">困难</p>
                </div>
                <div class="info-line">
                    <p>历史分数</p>
                    <p th:text="${historyScore}"></p>
                </div>

                <a class="iconfont icon-toupiao" th:href="@{/problem/{id}/history(id=${problem.id})}"
                   style="text-decoration: none"> 提交记录</a>
            </div>
            <div class="card my-card mt-3" th:if="${canEdit}">
                <h5 class="mb-3 underlined-title">开发者选项</h5>
                <div>
                    <a class="btn btn-primary" style="width:auto"
                       th:href="@{/problem/{id}/edit(id=${problem.id})}">编辑题目</a>
                    <a class="btn btn-primary" style="width:auto"
                       th:href="@{/problem/{id}/edit/checkpoints(id=${problem.id})}">编辑测试点</a>
                    <a class="btn btn-danger" style="width:auto"
                       th:href="@{/problem/{id}/delete(id=${problem.id})}">删除题目</a>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{base :: runHighlight}"></th:block>
</main>

</body>
</html>