<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${problem.title}"></title>
    <link th:replace="~{base :: bootstrap}"/>
    <link th:replace="~{base :: baseStyle}"/>
    <link rel="stylesheet" href="/css/problem.css">
    <link th:replace="~{base :: mathJaxScript}"/>
    <link th:replace="~{base :: mathJaxConfig}"/>
    <link th:replace="~{base :: iconfont}"/>
</head>
<body>
<div class="header">
    <p style="font-size: 15px; color: lightgray">
        <a th:href="@{/}" style="color: lightgray">首页</a>
        <span>></span>
        <a th:href="@{/problems}" style="color: lightgray">题目清单</a>
        <span>></span>
        <span th:text="${problem.title}" style="color: lightgray"></span>
    </p>
    <h2 th:text="${problem.title}"
        style="padding-bottom: 10px;font-weight: bolder"></h2>
    <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
    <a th:unless="${user eq null}" class="btn btn-primary mb-3" th:href="@{/problem/{id}/submit(id=${problem.id})}">提交代码</a>
    <a th:if="${user eq null}" class="btn btn-primary mb-3" th:href="@{/login}">登录后提交</a>
    <a class="btn btn-secondary mb-3" th:href="@{/problem}">返回题单</a>

    <div class="problem-status-box">
        <div class="problem-status-item">
            <p>提交</p>
            <p>0</p>
        </div>
        <div class="problem-status-item">
            <p>通过</p>
            <p>0</p>
        </div>
        <div class="problem-status-item">
            <p>时间限制</p>
            <p th:text="${problem.getTimeLimitString()}"></p>
        </div>
        <div class="problem-status-item">
            <p>内存限制</p>
            <p th:text="${problem.getMemoryLimitString()}"></p>
        </div>
    </div>
</div>


<main role="main" class="container">
    <div class="lr-container">
        <div class="card my-card problem-main">
            <div class="card-body">
                <div class="problem-part">
                    <h3>题目描述</h3>
                    <p th:text="${problem.description}"></p>
                </div>
                <div class="problem-part">
                    <h3>输入格式</h3>
                    <p th:text="${problem.inputFormat}"></p>
                </div>
                <div class="problem-part">
                    <h3>输出格式</h3>
                    <p th:text="${problem.outputFormat}"></p>
                </div>
                <div class="problem-part">
                    <h3>输入输出样例</h3>
                    <div class="lr-container" th:each="sample : ${samples}">
                        <div class="io-item">
                            <h5 class="card-subtitle mb-2 text-muted ">输入</h5>
                            <pre class="code" th:text="${sample.input}"></pre>
                        </div>
                        <div class="io-item">
                            <h5 class="card-subtitle mb-2 text-muted">输出</h5>
                            <pre class="code" th:text="${sample.output}"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card my-card problem-brief">
            <div class="info-line">
                <p>出题人</p>
                <p>Leo</p>
            </div>
            <div class="info-line">
                <p>题目难度</p>
                <p th:if="${problem.difficulty} eq 'easy'">简单</p>
                <p th:if="${problem.difficulty} eq 'medium'">中等</p>
                <p th:if="${problem.difficulty} eq 'hard'">困难</p>
            </div>
            <div class="info-line">
                <p>历史分数</p>
                <p>0</p>
            </div>

            <a class="iconfont icon-toupiao" th:href="@{/problem/{id}/history(id=${problem.id})}" style="padding-left: 20px; text-decoration: none"> 提交记录</a>
        </div>
    </div>
</main>

</body>
</html>