<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${problem.title}"></title>
    <th:block th:fragment="problemStyle">
        <link href="/static/img/favicon/3.ico" rel="shortcut icon">
        <link href="/static/css/problem.css" rel="stylesheet">
    </th:block>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <th:block th:replace="~{base :: markdown}"></th:block>
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <a th:href="@{/problems}">题目清单</a>
        <span>></span>
        <span th:text="${problem.title}"></span>
    </p>
    <div th:replace="~{problem/list :: nav}"></div>
    <h2>[[${problem.getIdString}]] &nbsp;&nbsp; [[${problem.title}]]</h2>
    <!--/*@thymesVar id="user" type="org.dindier.oicraft.model.User"*/-->
    <a class="btn btn-primary mb-3" th:href="@{/problem/submit(id=${problem.id})}"
       th:if="${canSubmit}"
       th:text="${(user eq null) ? '登录后提交' : '提交代码'}"></a>
    <a class="btn btn-secondary mb-3" th:href="@{/problems(from=${problem.id})}">返回题单</a>
    <span class="ml-3" th:unless="${canSubmit}">此题暂无测试点，不可提交</span>

    <div class="problem-status-box">
        <div class="problem-status-item">
            <p>提交</p>
            <p th:text="${problem.submit}"></p>
        </div>
        <div class="problem-status-item">
            <p>通过</p>
            <p th:text="${problem.passed}"></p>
        </div>
        <div class="problem-status-item">
            <p>时间限制</p>
            <p th:text="${problem.getTimeLimitString()}"></p>
        </div>
        <div class="problem-status-item">
            <p>内存限制</p>
            <p th:text="${problem.getMemoryLimitString()}"></p>
        </div>
    </div>
</div>


<main class="container" role="main">
    <div class="lr-container">
        <div class="problem-main mb-5">
            <div class="card my-card">
                <a class="no-dec"
                   style="position: absolute; right: 20px;" th:href="@{/api/problem/download(id=${problem.id})}">
                    <span class="iconfont icon-markdown"></span>
                    下载Markdown
                </a>
                <div class="problem-part">
                    <h3 class="mt-0">题目描述</h3>
                    <div class="markdown" id="description" th:utext="${problem.description}"></div>
                </div>
                <div class="problem-part">
                    <h3>输入格式</h3>
                    <div class="markdown" id="inputFormat" th:utext="${problem.inputFormat}"></div>
                </div>
                <div class="problem-part">
                    <h3>输出格式</h3>
                    <div class="markdown" id="outputFormat" th:utext="${problem.outputFormat}"></div>
                </div>
                <div class="problem-part">
                    <h3>输入输出样例</h3>
                    <div class="lr-container" th:each="sample : ${samples}">
                        <div class="io-item">
                            <h5 class="card-subtitle mb-2 text-muted">输入</h5>
                            <pre class="code" th:text="${sample.input}"></pre>
                        </div>
                        <div class="io-item">
                            <h5 class="card-subtitle mb-2 text-muted">输出</h5>
                            <pre class="code" th:text="${sample.output}"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="problem-brief">
            <div class="card my-card">
                <div class="info-line">
                    <p>出题人</p>
                    <a th:class="${author.gradeString}" th:href="@{/profile/{id}(id=${author.id})}"
                       th:text="${author.name}"
                       th:unless="${author eq null}">
                    </a>
                    <span class="DELETED" th:if="${author eq null}">账户已注销</span>
                </div>
                <div class="info-line">
                    <p>题目难度</p>
                    <p th:if="${problem.isEasy()}">简单</p>
                    <p th:if="${problem.isMedium()}">中等</p>
                    <p th:if="${problem.isHard()}">困难</p>
                </div>
                <div class="info-line">
                    <p>历史分数</p>
                    <p th:text="${historyScore}"></p>
                </div>
                <div>
                    <a class="iconfont icon-toupiao no-dec" th:href="@{/problem/history(id=${problem.id})}">
                        提交记录</a>
                    <a class="no-dec ml-2" th:href="@{/problem/history(id=${problem.id}, user=${user.id})}"
                       th:unless="${user eq null}">
                        我的提交</a>
                </div>
            </div>
            <div class="card my-card mt-3">
                <h5 class="mb-3 underlined-title">讨论区</h5>
                <div>
                    <a class="mr-2 no-dec" th:href="@{/post/list(problem=${problem.id})}">查看帖子</a>
                    <a class="no-dec" th:href="@{/post/new(problem=${problem.id})}">发布帖子</a>
                </div>
            </div>
            <div class="card my-card mt-3" th:if="${canEdit}">
                <h5 class="mb-3 underlined-title">开发者选项</h5>
                <div>
                    <a class="btn btn-primary" style="width:auto"
                       th:href="@{/problem/edit(id=${problem.id})}">编辑题目</a>
                    <a class="btn btn-primary" style="width:auto" th:href="@{/problem/edit/checkpoints(id=${problem.id})}"
                       th:if="${canEditCheckpoints}">编辑测试点</a>
                    <a class="btn btn-primary" style="width:auto" th:href="@{/api/problem/checkpoints/download(id=${problem.id})}"
                       th:unless="${canEditCheckpoints}">下载测试点</a>
                    <a class="btn btn-danger" style="width:auto"
                       th:href="@{/problem/delete(id=${problem.id})}">删除题目</a>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{base :: runMarkdown}"></th:block>
</body>
</html>