<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>提交代码</title>
    <th:block th:replace="~{base :: baseStyle}"></th:block>
    <link rel="stylesheet" href="/css/submit.css">
</head>
<body>
<div class="header">
    <p class="link">
        <a th:href="@{/}">首页</a>
        <span>></span>
        <a th:href="@{/problems}">题目清单</a>
        <span>></span>
        <a th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}"></a>
        <span>></span>
        <span>提交代码</span>
    </p>
    <h2>提交代码</h2>
    <a class="btn btn-secondary mb-3" th:href="@{/problem/{id}(id=${problem.id})}">返回题目</a>
</div>
<main role="main" class="container">
    <!-- Input code -->

    <form role="form" class="form" th:action="@{result}" method="post">
        <div class="lr-container">

            <label class="form-inline">
                <span>代码语言</span>
                <select name="language" class="form-control form-control-placeholder mb-3 ml-3 mt-3">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="C++">C++</option>
                    <option value="C">C</option>
                </select>
            </label>
            <label>
                <input class="btn btn-primary mt-3" type="submit" value="提交代码" style="float: right">
            </label>
        </div>
        <label class="submit-code-block">
                <textarea name="code" type="text" class="form-control"
                          style="resize: none; height: 400px"></textarea>
        </label>
    </form>
</main>
</body>
</html>